.detailContent {
    display: flex;
    justify-content: center;
}
.backButton {
    display: flex;
    text-align: start;
    margin-top: 10px;
    margin-left: 25px;
}

.dogDetail{
    width: 15cm;
    height: fit-content;
    margin-bottom: 20px;
    text-decoration: none;
    overflow: hidden;
    box-shadow: 0px 4px 22px 0px #0000001A;
    transition: all 0.3s ease;
    color: black;
    background-color:rgba(255, 251, 251, 0.353);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    border: 1px solid #ffffff;
    color: #8DCECD;
    text-shadow: 1px 1px 0.5px #5a8685;
}

.dogDetail h3{
    margin: 10px;
}
.dogDetail img{
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 8cm;
    height: 6.5cm;
    box-shadow: 2px 2px 5px 2px rgba(31, 38, 135, 0.37);
    border: 1px solid rgba(0, 0, 0, 0.774);
}
.logoHome {
    padding-top:10px ;
    padding-left: 10px;
    display: flex;
    align-items: flex-start;
}
.btnDetailDiv {
    padding-left: 900px;
}

